*{margin: 0;padding:0; box-sizing: border-box;}
.carousel-inner img {
    width: 100%;
    height: 60vh;
  }
  .carousel-caption img {
    width: 40%;
    height: 30vh;
  }
  .text-block {
  position: absolute;
 top:100px;
 bottom:0px;
  right: 20px;
  background-color: white;
  color: yellowgreen;
  padding-left: 20px;
  padding-right: 20px;
}
  


  
  